.main {

    background-color: black;
    color: rgb(213, 206, 205);
    max-width: 1500px;
    margin-top: 100px;

}


.hero-title {
    font-family: "IBM Plex Mono", monospace;
    font-size: 56px;
    font-weight: 500;
    margin-left: 400px;
    margin-top: 50px;
    margin-bottom: 40px;
}

.main-section {
    margin: 0px 400px;


}

.body-style {
    font-family: "IBM Plex Mono", monospace;
    font-size: 20px;
    font-weight: 500;
    margin: 32px 0px;
}

.hero-image{
    margin-top: 50px;
    margin-left: 400px;
}

.link-anchor{
    color:  rgb(236, 233, 229);
    
    
    
}

.link-anchor:hover{
    color: #F44F4F;
    cursor:pointer;
    
}

.sub-title{
    font-family: "IBM Plex Mono", monospace;
    font-size: 24px;
    font-weight: 400;
    margin: 32px 0px;
    margin:0px 400px;
}

.para-style{
    margin-top: 12px;
    font-family: "IBM Plex Mono", monospace;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 0px;
    line-height: 1.5;
    
}

.h4-style{
    font-size:20px;
    margin-top: 40px;
    margin-bottom: 0px;
    letter-spacing: 1px;

    
}

.nav-style{
    font-family: "IBM Plex Mono", monospace;
    font-size: 18px;
    font-weight: 500;
    margin-left: 400px;
    color:  rgb(236, 233, 229);
    
    

}

.nav-style:hover{
    cursor: pointer;
    color: #F44F4F;
}


.main-div{
    width: 1400px;
    margin-bottom: 60px;
}

